<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/vue-select@3.0.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145830425-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145830425-2');
    </script>

    <style>
      
      
      img:hover {
        transform: scale(2) translate(0, 0);
        z-index: 1;
      }
      /* img.split-layout:hover {
        transform: scale(2) translate(0, 0) rotate(90deg);
        z-index: 1; 
      } */
      .search {
        padding: 0 5px 0 5px;
      }
      .pagination .page-item {
        cursor: pointer;
      }
      .pagination .page-item.disabled {
        cursor: auto;
      }
      .page-buttons a {
        cursor: pointer;
      }
      .page-buttons a.disabled {
        cursor: auto;
      }

    </style>

    <title>MTG Card Search</title>
  
  </head>

  <body>
    <div id="app">

      <div class="container">
        <div class="row py-4">
          <div class="col-md-6 col-s-12">
            <span class="h2">Magic: The Gathering Card Search</span>
          </div>
          <div class="col-md-3 search">
            <v-select label="name" :options="setList" :clearable="false" v-model="params.set"></v-select>
          </div>
          <div class="col-md-2 search">
            <v-select label="name" :options="colorList" :clearable="false" v-model="params.color"></v-select>
          </div>
          <div class="col-md-1 search">
            <button type="button" class="btn btn-light" v-on:click="pullCards()">Submit</button>
          </div>
        </div>
      </div>

      <div v-show="loading == false">

        <div v-show="cards.length > 20">
          <nav aria-label="page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item" :class="{ disabled : page == 0 }">
                <a class="page-link" v-on:click="prevPage()">Previous</a>
              </li>
                <li class="page-item" :class="{ disabled : thisPage == page+1 }" v-for="thisPage in Math.ceil(cards.length/pageLimit)">
                  <a class="page-link" v-on:click="pageLink(thisPage)">
                    {{ thisPage }}
                  </a> 
                </li>
              <li class="page-item" :class="{ disabled : (page+1)*pageLimit >= cards.length }">
                <a class="page-link" v-on:click="nextPage()">Next</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="container">
          <div class="row">
            <div v-for="card in cards.slice(page*pageLimit, (page+1)*pageLimit)" class="col-lg-2 col-sm-12 px-1">
              <div class="card p-2 m-1">
                <img v-if="card.image_uris" :src="card.image_uris.normal" class="card-img-top" alt="card.name">
                <img v-else-if="card.card_faces" :src="card.card_faces[0].image_uris.normal" class="card-img-top" alt="card.name">
                <div class="card-body">
                  <p class="card-text">{{ card.name }}</p>
                  <!-- <p v-if="card.oracle_text" class="card-text">{{ card.oracle_text }}</p>
                  <p v-else-if="card.card_faces" class="card-text">{{ card.card_faces[0].oracle_text }}</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div v-show="cards.length > 20">
          <nav aria-label="page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item" :class="{ disabled : page == 0 }">
                <a class="page-link" v-on:click="prevPage()">Previous</a>
              </li>
                <li class="page-item" :class="{ disabled : thisPage == page+1 }" v-for="thisPage in Math.ceil(cards.length/pageLimit)">
                  <a class="page-link" v-on:click="pageLink(thisPage)">
                    {{ thisPage }}
                  </a> 
                </li>
              <li class="page-item" :class="{ disabled : (page+1)*pageLimit >= cards.length }">
                <a class="page-link" v-on:click="nextPage()">Next</a>
              </li>
            </ul>
          </nav>
        </div>
        
      </div>

      <div class="container">
        <div v-show="loading == true">Loading...</div>
      </div>

    </div>
  </body>
  
  <script>
    Vue.component('v-select', VueSelect.VueSelect);
    new Vue({
      el: '#app',
      data () {
        return {
          cards: [],
          page: 0,
          pageLimit: 20,
          params: {
                color: null,
                set: null,
              },
          loading: true,
          setList: [],
          colorList: [
            { id: 'red', name: 'Red'},
            { id: 'blue', name: 'Blue'},
            { id: 'black', name: 'Black'},
            { id: 'green', name: 'Green'},
            { id: 'white', name: 'White'}
          ]
        }
      },
      mounted () { 
        this.pullSets().then(() => {
          this.params.color = this.colorList[0]
          this.params.set = this.setList[0]
          this.pullCards()
        })
        
      },
      methods: {
        pullSets() {
          return axios
            .get('https://api.scryfall.com/sets',{}
          )
          .then((response) => {
            this.sets = response.data.data
            for (var i = 0; i < this.sets.length; i++) {
              if (!(this.sets[i].parent_set_code)) {
                this.setList.push(
                  {id : this.sets[i].code, name : this.sets[i].name}
                )
              }
            }
          })
        },
        pullCards() {
          this.loading = true
          axios
            .get('https://api.scryfall.com/cards/search?', {
              params: {
                q: 'set:'+this.params.set.id+' c:'+this.params.color.id,
              }
            })
            .then((response) => {
              console.log("Response", response)
              this.cards = response.data.data
              setTimeout(()=>{this.loading = false},150)
            })
        },
        nextPage() {
          this.page = this.page + 1
        },
        prevPage() {
          this.page = this.page - 1
        },
        pageLink(thisPage) {
          this.page = thisPage - 1
        },
        alertDescription(card) {
          console.log(card)
          alert(card.type_line)
        },
      }
    })
  </script>
</html>
